{% block dropzoneS3File_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form) }}
        </div>
        <script>

        </script>
    {% endspaceless %}
{% endblock %}